# 1. Rapatrier des données


- `SELECT` : rapatrier les données d'une seule table

- Alias de colonnes : assigner des noms temporaires aux colonnes ou expressions dans une requête

- `ORDER BY` : trier les résultats retournés par une requête

- `SELECT DISTINCT` – clause qui élimine les doublons dans les résultats.

## `SELECT`

## Requête sur une seule colonne

Pour trouver les noms de contacts de tous les clients de la table `customers` :

```sql
SELECT contact_name FROM customers;
```

## Requête sur plusieurs colonnes
Pour obtenir le nom de contact, le titre de contact et la ville des clients, spécifier ces noms de colonnes dans la clause `SELECT` :

```sql
SELECT
   contact_name,
   contact_title,
   city
FROM
   customers;
```
   
## Syntaxe générale de la commande `SELECT`
    
```sql
SELECT
   liste_des_sélections
FROM
   nom_de_la_table;
```

## Requête sur toutes les colonnes d'une table

Pour sélectionner des données de toutes les colonnes de la table customers :

```sql
SELECT * FROM customers;
```

## Utilisation de la commande SELECT avec des expressions

Pour retourner les noms complets et les villes de tous les clients :


```sql
SELECT 
   contact_name || ', ' || city
FROM 
   customers;
```

## Alias de Colonne

### Rapatrier les données avec un nom temporaire pour une colonne :
```sql
SELECT column_name AS alias_name
FROM table_name;
```


Dans cette syntaxe, column_name est renommé temporairement en alias_name. L'utilisation de 'AS' est optionnelle :

```sql
SELECT column_name alias_name
FROM table_name;
```

### Alias pour une Expression

Définir un alias pour une expression dans la clause SELECT :

```sql
SELECT expression AS alias_name
FROM table_name;
```

L'objectif principal des alias de colonnes est de rendre les titres des résultats plus clairs.

### Exemples d'Alias de Colonnes dans PostgreSQL

Rapatrier le prénom et le nom de famille avec un alias 'surname' pour le nom de famille :

```sql
SELECT
first_name,
last_name AS surname
FROM customers;
```

Concaténer le prénom et le nom avec un alias 'full_name' :

```sql
SELECT
first_name || ' ' || last_name AS full_name
FROM
customers;
```

## 2. Filtrer les données

- `WHERE` : filtre les lignes en fonction d'une condition spécifiée
  
- `LIMIT` : obtient un sous-ensemble de lignes généré par une requête
  
- `FETCH` : limite le nombre de lignes retournées par une requête
  
- `IN` : sélectionne des données qui correspondent à n'importe quelle valeur dans une liste de valeurs
  
- `BETWEEN` : sélectionne des données qui se trouvent dans une plage de valeurs
  
- `LIKE` : filtre les données en fonction d'une correspondance de motif
  
- `IS NULL` : – vérifie si une valeur est nulle ou non