# 1. Rapatrier les données d'une table


- `SELECT` : clause pour rapatrier les données d'une seule table

- Alias de colonnes : assigner des noms temporaires aux colonnes ou expressions dans une requête

- `ORDER BY` : clause pour trier les résultats retournés par une requête

- `SELECT DISTINCT` – clause pour retirer les doublons dans les résultats

## `SELECT`

### Requête sur une seule colonne

Pour trouver les noms de contacts de tous les clients de la table `customers` :

```sql
SELECT contact_name FROM customers;
```

### Requête sur plusieurs colonnes
Pour obtenir le nom de contact, le titre de contact et la ville des clients, spécifier ces noms de colonnes dans la clause `SELECT` :

```sql
SELECT
   contact_name,
   contact_title,
   city
FROM
   customers;
```
   
### Syntaxe générale de la commande `SELECT`
    
```sql
SELECT
   liste_des_sélections
FROM
   nom_de_la_table;
```

### Requête sur toutes les colonnes d'une table

Pour sélectionner des données de toutes les colonnes de la table customers :

```sql
SELECT * FROM customers;
```

### Utilisation de la commande SELECT avec des expressions

Pour retourner les noms complets et les villes de tous les clients :


```sql
SELECT 
   contact_name || ', ' || city
FROM 
   customers;
```

## Alias de Colonne

### Rapatrier les données avec un nom temporaire pour une colonne :
```sql
SELECT column_name AS alias_name
FROM table_name;
```

L'objectif principal des alias de colonnes est de rendre les titres des résultats plus clairs.

### Exemples d'alias de colonnes dans PostgreSQL


Avec Northwind : concaténer le contact_name et le contact_title avec un alias 'whoami' :

```sql
SELECT
contact_name || ' ' || contact_title AS whoami
FROM
customers;
```

## `ORDER BY`


### Principe 

Pour rapatrier des données d'une table, la commande SELECT retourne les résultats dans un ordre non spécifié. 

Pour trier ces résultats, utiliser la clause ORDER BY.

La clause ORDER BY permet de trier les résultats en ordre croissant ou décroissant basé sur une expression de tri.

### Syntaxe 

```sql
SELECT
select_list
FROM
table_name
ORDER BY
sort_expression1 [ASC | DESC],
sort_expressionN [ASC | DESC] ;
``` 

- Dans cette syntaxe :

- Spécifier une expression de tri après ORDER BY, et pour trier sur plusieurs colonnes, séparer les expressions par une virgule
- Par défaut, si ASC ou DESC n'est pas spécifié, ORDER BY utilise ASC
- PostgreSQL évalue les clauses SELECT dans l'ordre suivant : FROM, SELECT, et ORDER BY
- Les alias de colonnes déclarés dans SELECT, peuvent être utilisés dans ORDER BY

### Exemples avec Northwind


- Trier sur une colonne en ordre croissant :

```sql
SELECT
ship_address,
ship_name
FROM
orders
ORDER BY
shipped_date ASC ;
```

- Trier sur une colonne en ordre décroissant :
```sql
SELECT
ship_address,
ship_name
FROM
orders
ORDER BY
shipped_date DESC ;
```

- Trier sur plusieurs colonnes :

```sql
SELECT
ship_address,
ship_name
FROM
orders
ORDER BY
order_date ASC,
shipped_date DESC ;
```

Trier avec une expression :

```sql
SELECT
ship_address,
LENGTH(ship_address) AS len
FROM
orders
ORDER BY
len DESC ;
```

### Gérer les NULL dans ORDER BY :

- Lors du tri de lignes contenant NULL, spécifier l'ordre des valeurs qui valent NULL par rapport aux valeurs non nulles en utilisant :

```sql
ORDER BY sort_expression [ASC | DESC] [NULLS FIRST | NULLS LAST]
```

- Pour placer NULL avant les valeurs non nulles :

```sql
SELECT num
FROM sort_demo
ORDER BY num NULLS FIRST ;
```

- Pour trier en ordre décroissant et placer NULL après les valeurs non nulles :

```sql
SELECT num
FROM sort_demo
ORDER BY num DESC NULLS LAST ;
```

## `DISTINCT` 

### Principe 

- La clause DISTINCT de SELECT sert à retirer les doublons des résultats. 
- Elle conserve une ligne pour chaque groupe de doublons. 
- DISTINCT peut s'appliquer à une ou plusieurs colonnes.

### Syntaxe

- Syntaxe minimale : 

```sql
SELECT DISTINCT ship_name FROM orders;
```


- Si plusieurs colonnes sont spécifiées, DISTINCT évalue les doublons basés sur la combinaison de ces colonnes 
```sql
SELECT DISTINCT ship_name, ship_address FROM orders;
```
    
- PostgreSQL propose aussi DISTINCT ON (expression) pour conserver la "première" ligne de chaque groupe de doublons :
```sql
SELECT DISTINCT ON (ship_name) ship_name, ship_address FROM orders;
```

- Il est conseillé d'utiliser toujours ORDER BY avec DISTINCT ON pour rendre les résultats prévisibles.
```sql
SELECT DISTINCT ON (ship_name) ship_name, order_date, ship_address FROM orders ORDER BY ship_name;
```

# 2. Filtrer les données d'une table

- `WHERE` (et autres opérateurs) : filtre les lignes en fonction d'une condition spécifiée
  
- `LIMIT` : obtient un sous-ensemble de lignes généré par une requête
  
- `IS NULL` :  vérifie si une valeur est nulle ou non

## `WHERE`

### Principe 

Filtrer les lignes basées sur des conditions spécifiées.

### Syntaxe 

    
    
- Égalité : 
```sql
SELECT * FROM orders WHERE ship_country = 'France' ;
```

- Opérateur AND : 
```sql
SELECT * FROM orders WHERE ship_country = 'USA' AND freight > 100 ;
```

- Opérateur OR : 
```sql
SELECT * FROM orders WHERE ship_city = 'Paris' OR ship_city = 'Lyon' ;
```

- Opérateur IN :
```sql
SELECT * FROM orders WHERE ship_country IN ('USA', 'France', 'Germany') ;
```

- Opérateur LIKE : 
```sql
SELECT * FROM orders WHERE ship_name LIKE 'C%' ;
```

- Opérateur BETWEEN : 
```sql
SELECT * FROM orders WHERE order_date BETWEEN '1990-01-01' AND '2023-01-31' ;
```
- Opérateur not equal (<> ou !=) : 
```sql
SELECT * FROM orders WHERE ship_country <> 'USA' ;
```

## `LIMIT`
### Principe 
- Limiter le nombre de lignes retournées par une requête.

### Syntaxe 

- Limiter le nombre de lignes : 

```sql
SELECT * FROM orders ORDER BY order_date LIMIT 5 ;
```

- Limiter avec un offset  : 
```sql
SELECT * FROM orders ORDER BY order_date LIMIT 4 OFFSET 3 ;
```

- Sélectionner des lignes spécifiques :

```sql
SELECT * FROM orders ORDER BY order_date DESC LIMIT 10 ;
```

## `IS NULL`
### Principe 
- Vérifier si une valeur est nulle ou non dans une base de données.
- NULL représente une information manquante ou non applicable.
- Il ne peut pas être comparé à d'autres valeurs car la comparaison avec NULL donne toujours un résultat inconnu.
- Pour vérifier si une valeur est NULL, on utilise l'opérateur IS NULL. (comme `is None en Python`)

### Syntaxe
- Vérifier si une colonne est NULL : 

```sql
SELECT * FROM orders WHERE ship_region IS NULL ;
```

```sql
SELECT * FROM orders WHERE ship_region IS NOT NULL ;
```