# Exercice 1: Sélection avec conditions multiples
- Afficher tous les order_id et ship_name pour les commandes expédiées en Suisse (ship_country = 'Switzerland') ou en Argentine (ship_country = 'Argentina'), avec un freight supérieur à 20.

# Exercice 2: Tri et limite sur sélection filtrée

-  Trouver les 5 commandes ayant le plus haut freight, expédiées en 1997 (order_date BETWEEN '1997-01-01' AND '1997-12-31').

# Exercice 3: Utilisation de DISTINCT
- Lister les combinaisons uniques de ship_country et ship_city pour toutes les commandes.

# Exercice 4: Combiner WHERE, ORDER BY et LIMIT
- Afficher les 3 premières commandes (basées sur la order_date) pour les clients en Brésil (ship_country = 'Brazil').


# Exercice 5: Gestion des NULL avec tri et filtrage

- Sélectionner toutes les commandes où ship_region est NULL, en les triant par shipped_date en ordre décroissant.


# Exercice 6: Utilisation de l'opérateur LIKE
- Trouver les commandes dont le nom du destinataire (ship_name) commence par 'S'.

# Exercice 7: Plusieurs avec AND, OR
- Sélectionner les commandes expédiées en 'UK' ou 'USA' avec un freight supérieur à 50, et passées avant l'année 1998.

# Exercice 8: Requête plusieurs clauses
 - Afficher les order_id, la date de commande (order_date), et le nom du destinataire (ship_name) pour les 10 premières commandes passées après le 1er janvier 1997, où la région de livraison (ship_region) est inconnue (NULL), et le pays de livraison (ship_country) n'est ni 'USA' ni 'UK'. Les résultats doivent être triés par le coût du fret (freight) en ordre décroissant. Utiliser un alias pour renommer order_date en DateOfOrder.